body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-right: auto; /* Заголовок выравнивается слева */
}

.quick-access {
    background-color: #007bff;
    color: #fff;
    padding: 15px 20px; /* Уменьшаем отступы по горизонтали */
    border-radius: 25px;
    cursor: pointer;
    margin-left: 5px; /* Уменьшаем отступ слева */
    margin-right: 5px; /* Уменьшаем отступ справа */
    transition: background-color 0.3s;
}

.quick-access:hover {
    background-color: #0056b3;
}

h2 {
    color: #444;
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.image-container {
    text-align: center; /* Выравнивание по центру */
}

.image-container img {
    max-width: 45%; /* Уменьшаем максимальную ширину изображения */
    height: auto;
    margin: 0 10px; /* Отступы между картинками */
}

ul, ol {
    margin-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

@media (max-width: 768px) {
    header, footer {
        text-align: center;
    }
}

.review {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.review h3 {
    margin-top: 0;
    color: #007bff;
}

.review p {
    margin-bottom: 0;
}

#review-form {
    margin-top: 20px;
}

#review-form label {
    display: block;
    margin-bottom: 5px;
}

#review-form input,
#review-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#review-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#review-form button:hover {
    background-color: #0056b3;
}

#user-reviews,
#write-review {
    flex: 1;
}
